In [1]:
import numpy as numpy
import pandas as pd

In [32]:
df0 = pd.read_csv('ncbi_dataset (3).tsv', sep='\t')
df1 = pd.read_csv('ncbi_dataset (1).tsv', sep='\t')
df = pd.concat([df0, df1])

In [33]:
df[]

(5209, 15)

In [34]:
df.tail()

,Accession,Begin,End,Chromosome,Orientation,Name,Symbol,Gene ID,Gene Type,Transcripts accession,Transcript name,Protein accession,Protein name,Protein length,Locus tag
2332,NZ_SPNK01000022.1,3841,4563,NaN,plus,uncharacterized gene,NaN,64265087,pseudogene,NaN,NaN,NaN,NaN,NaN,E4P33_RS11675
2333,NZ_SPNK01000023.1,143,1540,NaN,plus,IS1380 family transposase,NaN,64265088,protein-coding,NaN,NaN,WP_169577822.1,IS1380 family transposase,465.0,E4P33_RS11680
2334,NZ_SPNK01000024.1,287,736,NaN,minus,VOC family protein,NaN,64265089,protein-coding,NaN,NaN,WP_135010949.1,VOC family protein,149.0,E4P33_RS11685
2335,NZ_SPNK01000024.1,733,960,NaN,minus,hypothetical protein,NaN,64265090,protein-coding,NaN,NaN,WP_200829469.1,hypothetical protein,75.0,E4P33_RS11690
2336,NZ_SPNK01000026.1,1,555,NaN,plus,integrase core domain-containing protein,NaN,64265092,protein-coding,NaN,NaN,WP_135010951.1,integrase core domain-containing protein,184.0,E4P33_RS11700

In [44]:
df.describe(include='object').T

                  count unique                   top  freq
Accession          5209     26           NC_007795.1  2872
Orientation        5209      2                 minus  2663
Name               5209   2360  hypothetical protein  1750
Symbol              733    554                   rrf     4
Gene Type          5209      6        protein-coding  5023
Protein accession  5023   5023           YP_498609.1     1
Protein name       5023   2328  hypothetical protein  1750
Locus tag          5209   5209         SAOUHSC_00001     1

In [46]:
df.isnull().sum()

Accession                   0
Begin                       0
End                         0
Chromosome               5209
Orientation                 0
Name                        0
Symbol                   4476
Gene ID                     0
Gene Type                   0
Transcripts accession    5209
Transcript name          5209
Protein accession         186
Protein name              186
Protein length            186
Locus tag                   0
dtype: int64

In [41]:
df['Orientation'].unique()

array(['plus', 'minus'], dtype=object)

In [47]:
df.columns

Index(['Accession', 'Begin', 'End', 'Chromosome', 'Orientation', 'Name',
       'Symbol', 'Gene ID', 'Gene Type', 'Transcripts accession',
       'Transcript name', 'Protein accession', 'Protein name',
       'Protein length', 'Locus tag'],
      dtype='object')

In [49]:
df['Protein accession'].nunique()

5023

In [53]:
df['Protein length'].mean()

310.47023691021303